:root {
  --bg-color: #e9efec;
  --text-color: #211e20;
  --bg-accent-color: #c9d8ba;
  --link-color: #4C5E4A;
  --link-visited-color: #565B48;
  --link-hover-color: #F45363;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("res/roboto.ttf?#iefix") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Roboto;
  max-width: 650px;
  margin: 40px auto;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link { color: var(--link-color); }

a:visited { color: var(--link-visited-color); }

a:hover, a:active {
  color: var(--link-hover-color);
  text-decoration: underline;
}

h1, h2, h3 {
  line-height: 1.2;
  font-family: serif;
}

.box {
  background: var(--bg-accent-color);
  padding: 20px;
  padding-top: 5px;
  margin: 40px;
}